credentials*
*.png

out
*.synctex.gz
.project

*.swp

*.pdf
*.backup
.DS_Store
*.fdb_latexmk
*.fls
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
